<ul id="sortable-list">
	<!-- for loop to show items -->
  <% categories_list.keys.sort.each do |cat| %>
    <li class="shop-category">
      <span>
        <%= cat.capitalize %>
      </span>
    </li>
      <% categories_list[cat].each do |item| %>
		    <%= render partial: 'shop_item', locals: {item: item, action_shop: action_shop, mobile_request: mobile_request} %>
    	<% end %>
  <% end %>

</ul>
