<div id='cook-recipe-dialog'>
  <div id='cook-recipe-scroll'>
    <div id='cook-recipe-box'>
    </div>
  </div>
</div>

<script type="text/javascript">


function loadRecipe(recipeId) {
  $.post("/recipes/recipe_setup", "recipe_id=" + recipeId,
  function(data) {
    $('#cook-recipe-box').html(data);
    setup_scroll('#cook-recipe-scroll');
  });   
};

/* load the recipe when the user clicks on it */
$(".recipe-display").click(function() {
  loadRecipe($(this).attr('recipe-id'));
});

/* auto-load the passed or first recipe, if one */
<% if @recipe_id %>
  loadRecipe(<%= @recipe_id %>);
<% else %>
  if ($(".recipe-display").first() != 'undefined') {
    loadRecipe($(".recipe-display").first().attr('recipe-id'));
  };
<% end %>
  
</script>
