<% @background_recipe = Recipe.random_background_image %>

<div id="user-edit" class="gray-background">
  <h1>Edit My Account</h1>

  <%= form_for @user, :url => "/users/edit" do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Update", :class => "gray-button" %>
  <% end %>
</div>
