<% if current_user %>
<h2>My Account</h2>
Nothing here right now.
<!-- NEED TO ADD ABILITY to EDIT PASSWORD -->
<!--  	<%= link_to('My Account', '/users/my_account') %> -->
		
<% else %>
  <%= link_to('Login', '/user_session/new') %>
  <%= link_to('Register', '/user/new') %>
<% end %>

