<!-- hi it's connie -->

<% if @meals_empty %>
  <% @background_recipe = Recipe.random_background_image %>
  <div id='cook-no-meals-padding'>
    <div id='cook-no-meals' class='gray-background'>
      <h2>Your "My Meals" collection is empty</h2>
      <p>Click on "Add to My Meals" <br> on the <%= link_to('Discover page', '/discover') %> <br> to add to "My Meals"</p>
    </div>
  </div>
<% else %>
  <%= render_cell :meals, :meals_list, current_user, show_plus = false, show_servings = false %>
  <%= render :partial => 'recipes/recipe_setup' %>
  <%= render :partial => 'layouts/video_popup' %>
<% end %>