<head> </head>
<div class="page-padding">

	<h1>About Us</h1> 
	<p> 
		RealMealz is on a mission to simplify homemade meals.  Homemade is the affordable way to eat well everyday.  But, we know you have a busy lifestyle, cooking can be a chore, and sometimes you don't have anything planned.  That's ok.  It is still possible to make something quickly with what you have.  With one click you can also pre-plan for your next shopping trip.  We are here to help simplify the process so you can enjoy delicious family time.
	<br><br><b>
	How are we different from Epicurious and cooks.com?</b>
		<ol>
		<li>We are not a recipe search engine, you don't have to know what you are searching for to use us. </li>
		<li>We streamline for everyday homecooking. We only have recipes made in 30 minutes or less.  Our tools optimize for this use.</li>
		<li>We recommend rather make you search: We show you only recipes that are pre-filtered according to your preferences.  Have allergies? Vegetarian? No problem, you won't see a recipe you can't eat. </li>
		<li>We predict what you have in your pantry based on your RealMealz activity to suggest real-time recipes you can make. </li>
		</ol>
<br><b>Who are we?</b>
	<br><br>
	<table class="table-about-us">
		<tr>
			<td><img class="about-us-pics" src="/images/connie_pic.png"></td>
			<td><b>Connie Kwan, Chief Eating Officer </b>
				<br>
				A good meal always lifts my spirits.  And eating well fuels my body to do everything else, such as building a career in Product Management, earning an MBA and building RealMealz.  I enjoy cooking, but  I get tired of making my usuals but don't have time to search for new recipes.  Most days I can't spare more than 30 minutes to cook. That's why RealMealz was born to keep meal planning organized so I can focus on the rest of my life during the week.  I believe that with a little help, people will discover the ease and benefits of homemade over fast and frozen foods. So I have assembled a passionate team to create the knowledge and tools to let everyone enjoy the bounty of our lands, one homemade meal at a time.<br><br></td>
		</tr>
		<tr>
			<td><img class="about-us-pics" src="/images/joshua.png"></td>
			<td style="vertical-align: top;"><b>Joshua, Head Chef</b>
				<br>
				I've worked for the past X years in commercial kitchens, helping companies like a, b, and c develop menus that are cost effective, fast enough to deal with the lunch rush, and both healthy and tasty.  
				Ever wonder how you can order at a restaurant and get your food in under 10 minutes while it takes you an hour to cook at home?  Are the cooks in a commercial kitchen somehow moving at 
				super speed, a wok in each hand while chopping with their foot? Of course not. I've taught hundreds of normal people, just like you to cook in a commercial setting, and there's no reason 
				that you can't cook like that too.  I love to cook, and I want everyone to learn that with a little training, advanced preparation, and a few tools that RealMealz provides, you can cook 
				simple, healthy, and tasty meals in under 30 minutes. <br><br>
			</td>
		</tr>
		<tr>
			<td><img class="about-us-pics" src="/images/max_dunn2.png"></td>
			<td style="vertical-align: top;"><b>Max Dunn, Chief Techno-foodie</b>
				<br>
				My friends call me a serial entrepreneur since I'm always building a software startup (this will be my fourth).  As such, I almost never have time to cook a good meal. I "plan" when I'm already hungry and want to eat moments after I step into the kitchen.  
				It's always a challenge to find something interesting to cook in that moment, especially since my family is gluten free.  I could just stop building software startups so that I'll have time to cook, but what's the fun in that?  
				Instead, I'm building RealMealz so that all the busy people out there like me will be able to eat healthier and tastier home cooked food without resorting to repeating the same dishes over and over again.<br><br>
			</td>
		</tr>
		<tr>
			<td>picture here</td>
			<td style="vertical-align: top;"><b>Eric Liu, Ninja</b>
				<br>
				<br>
				I am not here.</td>
		</tr>
	</table>
	<p>
		
		Why do you cook at home?  <a href="http://www.facebook.com/pages/RealMealz/201672796524488" target="_blank">Tell us your cooking story and post a picture of you in your kitchen! </a> 
		We love to hear from our users!
	</p>

	

</div> 
