<% @show_footer = true %>

<div id='home-downloads' class="gray-background">

  <h1>Downloads</h1> 
  <p><%= link_to('Download the Android App', '/RealMealz.apk') %></p>
  &nbsp;&nbsp;&nbsp;
  <p>iPhone and iPad apps are in the works.  Please bear with us!  For now please the web version at <a href="http://beta.realmealz.com">beta.realmealz.com</a></p>
 	
  
</div> 
