<% @show_footer = true %>

<div id='home-downloads' class="gray-background">

  <h1>Downloads</h1> 
  
  <p>&nbsp;</p>
  <p><%= link_to('Download the Android App', '/RealMealz.apk') %></p>
  <p>iPhone and iPad apps are in the works.  Please bear with us!  For now you can use the web app at <a href="http://beta.realmealz.com">beta.realmealz.com</a> </p>
 	
  
</div> 
