<% @show_footer = true %>

<div class="gray-background">
	<h1>Host the Tastiest Challenge Ever, at work! </h1>
	<table>
		<tr>
			<td>	<%= image_tag "ribbon.png", :class => "" %>
			</td>
			<td>
				<blockquote><i>We've been looking for a food-based wellness challenge and RealMealz delivered the perfect solution!  Our employees had a great time at the kick-off with a RealMealz healthy cooking demo (which they got to participate in) and a delicious lunch. RealMealz rallied our wellness teams to cook healthy meals in 30 minutes or less. The RealMealz website is fantastic – what a great concept!"</i> -Megan @ Practice Fusion </blockquote>
			Show your employees you care about their health with a RealMealz Cooking Challenge.  RealMealz can help you host a team based Challenge.  It will build comraderie, create fun in the workplace and make you a champ!   Who wouldn't enjoy tasty food, especially when it takes less than 30 minutes and is good for health?  We can set up your group on RealMealz.com so you can create teams, track employee engagement, see leaderboards and track team points for as low as $2 per employee.  We also offer kick-off cooking demos and lunch parties.  Please fill out the form below if you're interested and we'll be in touch!
			</td>
		</tr>
	</table>
	<br>
	<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHdhQnQtbzFpZGRUQnVBR18zdEVjc3c6MQ" width="1050" height="805" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div> 
