
<% @show_footer = true %>

<div id="video-dialog" title="Youtube Video" style="display:none">
   <object width="560" height="315">
    <param name="movie" value="http://www.youtube.com/v/00Tkhc_s4iw" />
    <param name="action" value="" />
    <param name="allowFullScreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <embed src="http://www.youtube.com/v/00Tkhc_s4iw" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="315">
    </embed>
  </object> 
</div>

<table id="frontpage-table" class="gray-background">
	<tr>
		<td class="gray-background">
				<div class="frontpage-boxes" href="http://www.youtube.com/v/A1tjgBl9ino" title="Cook 30 minute Meals with RealMealz" action="Sign Up for Beta" action-link="http://signup.realmealz.com">
				<h1>Cook</h1><h4>Healthy 30 minute Meals</h4>
				<br><%= image_tag "2cook.png", :class => "frontpage-horizontal-spacer" %>
				</div>
				<form method="link" action="http://signup.realmealz.com/" align="center">
			<input value="Request Beta Access! >>" type="submit" class="orange-button" /></form>
		</td>
		<td class="frontpage-spacer"></td>
		<td class="gray-background">
			<div class="frontpage-boxes" href="http://www.youtube.com/v/36QfEObYj9g" title="Earn Prizes and Track your Food Wellness">
			<h1>Earn</h1><h4>Prizes from Sponsors</h4>
			<%= image_tag "3track.png", :class => "frontpage-horizontal-spacer" %>
			<br>
			<br>
			</div>
			<form method="link" action="/home/sponsor" align="center">
			<input value="Sponsor a Prize >>" type="submit" class="orange-button" /></form>
		</td>
	</tr>
</table>

<script type="text/javascript">

$('.frontpage-boxes').click(function() {
  var title = $(this).attr('title');
  var link = $(this).attr('href');
  var action_link = $(this).attr('action-link');
  var action = $(this).attr('action');
  var $dialog = $("#video-dialog");
  $dialog.dialog("destroy");
  $dialog.attr('title', title);
  $dialog.find('param[name="movie"]').attr('value', link);
  $dialog.find('param[name="action"]').attr('value', action);
  $dialog.find("embed").attr("src", link);
  $( "#video-dialog" ).dialog({
     width: 600,
     height: 380,
     modal: true
   });;
  return false;
});

</script>

