<img src="../images/new-landing-page4-banner.png" padding=0 /> 

<div class="home-page-padding">
	<h2>My Allergies</h2>
	<%= form_tag("/home/sign_up", :method => "post") do %>
	  <table>
	    <tr style="vertical-align: top;">
	      <td width = "200px">
    		  <% for allergy_name in @allergy_names %>
      			<%= check_box_tag "save[allergies][]", allergy_name, @allergies_checked.include?(allergy_name) %>
      	   	<%= label_tag allergy_name %>
      	   	<br>
    	  <% end %> 
    	  </td>
    	<td width = "250px">
       <p><label for="user_first">Your first name</label><br /> 
        <input id="user_first" name="save[first]" size="30" type="text" /></p> 

        <p><label for="user_last">Your last name</label><br /> 
        <input id="user_last" name="save[last]" size="30" type="text" /></p>
        </td><td style="padding-top: 30px;">
          <input value="GO!" type="submit" class="green-button" />
	    </td>
	    <td style="padding-top: 30px; padding-left: 10px; padding-right: 10px">
       <p>	We will now save your choices and direct you to the sign-in page.
	    </td>
	   </tr>
	  </table>
	<% end %>   
</div> 