<div class="home-page-padding">
  <h2>To personalize a menu plan for you, we need to learn a little bit more about YOU! Click on the picture below that looks more appetizing.</h2>
</div>
	
<img src="/images/landing-page2.png" padding=0 usemap="#foodmap" />
<map name="foodmap">
  <area shape="rect" coords="155,27,455,232" href="/home/index3?save[recipe]=74" alt="Grilled Chicken and Green Beans" />
  <area shape="rect" coords="500,25,800,229" href="/home/index3?save[recipe]=37" alt="Chicken Tacos" />
</map>
