<div class="home-page-padding">
  <h2>Please give us one more clue before we start planning...</h2>
</div>

<img src="../images/new-landing-page3.png" padding=0 usemap="#foodmap" />
<map name="foodmap">
  <area shape="rect" coords="155,27,455,222" href="/home/index4?save[recipe]=41" alt="Soup" />
  <area shape="rect" coords="500,25,800,229" href="/home/index4?save[recipe]=67" alt="Spanish Rice" />
</map>
