<% @show_footer = true %>

<div id="video-dialog" title="Youtube Video" style="display:none" content="placeholder">
   <iframe id='youtube-video' width="560" height="315" src="http://www.youtube.com/v/00Tkhc_s4iw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div id="video-dialog2">
	
</div>

<table id="frontpage-table" class="gray-background">
	<tr>
		<td class="gray-background-nopad">
				<div class="frontpage-boxes" href="http://www.youtube.com/v/A1tjgBl9ino?rel=0" title="Cook 30 minute meals with RealMealz" content="Sign Up for Beta" action-link="http://signup.realmealz.com">
				<h1>Cook</h1><h2>Healthy 30 minute Meals</h2>
				<%= image_tag "2cook.png", :class => "frontpage-horizontal-spacer" %>
				</div>
				<form method="link" action="/discover" align="center">
					<input value="Try it Now! >>" type="submit" class="orange-button" /></form>
			<br>
		</td>
		<td class="frontpage-spacer"></td>
		<td class="gray-background-nopad">
			<div class="frontpage-boxes2" href="http://www.youtube.com/v/36QfEObYj9g?rel=0" title="Earn Prizes and Track your Food Wellness" text="Cooking improves your health. Cook with us to earn prizes from sponsors.  Want to challenge your community to cook more?  Sponsor a prize and host an Eat Well Challenge with us.">
			<h1>Win</h1><h2>Challenges from Your Employer</h2>
			<%= image_tag "3track.png", :class => "frontpage-horizontal-spacer" %>
			</div>
			<form method="link" action="/home/host" align="center">
			<input value="Host a Challenge>>" type="submit" class="orange-button" /></form>
			<br>
		</td>
	</tr>
</table>

<script type="text/javascript">

$('.frontpage-boxes').click(function() {
  var title = $(this).attr('title');
  var link = $(this).attr('href');
  var action_link = $(this).attr('action-link');
  var content = $(this).attr('content');
  var $dialog = $("#video-dialog");
  $dialog.dialog("destroy");
  $dialog.attr('title', title);
  $dialog.find('param[name="movie"]').attr('value', link);
 /* $dialog.dialog({ buttons: { "Ok": function() { $(this).dialog("close"); } } });*/
  $dialog.find("iframe").attr("src", link);
  $dialog.find("iframe").attr("content",content);
  $("#video-dialog" ).dialog({
     width: 600,
     height: 380,
     modal: true,
     close: function(event, ui) { $('#youtube-video').attr('src', '') }
   });
  return false;
});

$('.frontpage-boxes2').click(function() {
  var title = $(this).attr('title');
  var link = $(this).attr('href');
  var action_link = $(this).attr('action-link');
  var text = $(this).attr('text');
  var $dialog = $("#video-dialog2");
  $dialog.dialog("destroy");
  $dialog.attr('title', title);
  $("#video-dialog2" ).text(text).dialog({
     width: 600,
     height: 250,
     modal: true,
     buttons:
            [
              {
                  text: "Sponsor a Prize >>>",
                  onclick: "window.location.href = '/home/sponsor'",
                  'class': 'my-custom-button-class'
              }
            ]
   });
  return false;
});
</script>

