<% @show_footer = true %>

<div class="gray-background">
	<div class="gray-background">

	<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHdhQnQtbzFpZGRUQnVBR18zdEVjc3c6MQ" width="860" height="805" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

	</div>
</div> 
