<% @show_footer = true %>

<!-- for debugging on connie's computer 
	<body style="background:url(/assets/recipes/rm_israeli_couscous_with_mushrooms_medium.jpg)">
	 -->
	
<div id="welcome-page-video" class="gray-background">
	 <h1>Welcome, <%= current_user.first %>!</h1><h3>Are you ready to make dinner in 30 minutes or less?</h3>
			 <!-- video -->
		 		  <object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/WW7Jr-OeZr0?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/WW7Jr-OeZr0?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>
<!--
		  <br><br>
			<b>Tips:</b>
			<ul class="subtle-links">
				<li>On the <a href="/discover">Discover page</a>, you can "star" your favorite recipes.  This way, you can browse your "star only" recipes at a future time.  </li>
				<li>To cook multiple recipes you <a href="/discover">Discover</a>, click on "Add to My Meals."  The entire list of your Meals will then show up on the <a href="/shop">Shop</a> and <a href="/cook">Cook</a> pages.</li>
				
				<br><li>If you like to check pantry inventory before you shop, try using the <a href="/shop/pantry_list">Shopping List Builder</a> to keep track of your common items and quickly pick them off when you need to buy more.</li>
				<br><li>Getting tired of the same recipes? Check out what's under <a href="/discover">Discover</a> to find something new!  </li>
</ul> -->
</div>
<br><br>
<div id="welcome-page-basic-equipment" class="gray-background">
  <h2>Basic Kitchen Equipment: </h2>
  <p>If you are brand new at cooking and your kitchen is not stocked, don't worry!  You don't need to spend a fortune to get started.  With the basic equipment and spices you can cook most recipes that we have.</p>


<table id="table-things-you-need" class="gray-background">
	<tr><td>
			<h3>Basic Equipment (only 8):</h3><%= image_tag "basic_equipment.jpg", :class => "home-pics2" %> 
			<br>These 8 pieces of equipment will cook most meals: 
			<ol>
				<li>A Good Knife</li>
				<li>(optional) A Knife Honer</li>
				<li>A Can Opener</li>
				<li>A Cutting Board (Two recommended if you cook meat.  Keep one for preparing meat and the other for preparing cooked items and vegetables.)</li>
				<li>A Basic Pot with Lid (Pot size depends on your family.  The pictured pot is good for 4 people </li>
				<li>A Basic Saute Pan with Lid (Pan size depends on your family.  The pictured orange saute pan is good for 4 people.</li>
				<li>A Collander</li>
				<li>A Large Mixing Bowl</li>
			</ol>
		</td>
		<td style="vertical-align: top;"><h3>Basic Spices (only 11):</h3>
		  <%= image_tag "basic_pantry_with_soyasauce.jpg", :class => "home-pics2" %>
			<br>These basic spices will give you a great start:
			<ol>
				<li>Salt</li>
				<li>Pepper</li>
				<li>Ketchup </li>
				<li>Mustard</li>
				<li>Olive Oil</li>
				<li>Vinegar</li>
				<li>Soy Sauce (or Tamari for gluten free)</li>
				<li>Italian Spices Mix </li>
				<li>Cinnamon</li>
				<li>Peanut Butter</li>
				<li>Bread</li>
			</ol>
		</td>
	</tr>
</table>
</div>
<p>
  <form method="link" action="/discover" align="right">
	  <input value="Start Discovering Tonight's Meal! >>>>" type="submit" class="gray-button" />
  </form>
</p>

	



