<% @show_footer = true %>

<!-- for debugging on connie's computer 
	<body style="background:url(/assets/recipes/rm_israeli_couscous_with_mushrooms_medium.jpg)">
	 -->
	
<div id="welcome-page-box1" class="gray-background">
	<h1><%= "Hi #{current_user.first} !" if current_user %> Welcome to RealMealz. </h1>
	<table id="welcome-page-table1"> 
		<tr>
			<td width="40%"> 	 	<!-- video -->
				<br>
				<br>
				Our 5-minute tutorial video:
				<iframe width="300" height="200" src="http://www.youtube.com/v/WW7Jr-OeZr0?rel=0" frameborder="0" allowfullscreen></iframe>
			</td>
			<td class="gray-background">
				<h4>Here's how it works...</h4>	
				<ol>
				 	<li><a href="/discover">Discover</a> 30 minute meals using ingredients you have </li>
				 	<li><a href="/cook">Cook</a> using RealMealz to accrue points for Eat Well Challenges. We'll let you know when the next one happens.</li>
				 	<li>User our <a href="/shop">Shop</a> tools to construct shopping lists and build a regular cooking routine</li>
				</ol>
				<form method="link" action="/discover" align="right">
	  <input value="Find a 30 minute Meal! >>>>" type="submit" class="orange-button" />
  </form>
					
			</td>
		</tr>
	</table>		

</div>
<br><br>
<div id="welcome-page-basic-equipment" class="gray-background">
  <h2>Basic Kitchen Equipment: </h2>
  <p>If you are brand new at cooking and your kitchen is not stocked, don't worry!  You don't need to spend a fortune to get started.  With the basic equipment and spices you can cook many recipes that we have.</p>


<table id="table-things-you-need" class="gray-background">
	<tr><td>
			<h3>Basic Equipment (only 8):</h3><%= image_tag "basic_equipment.jpg", :class => "home-pics2" %> 
			<br>These 8 pieces of equipment will cook most meals: 
			<ol>
				<li>A Good Knife</li>
				<li>(optional) A Knife Honer</li>
				<li>A Can Opener</li>
				<li>A Cutting Board (Two recommended if you cook meat.  Keep one for preparing meat and the other for preparing cooked items and vegetables.)</li>
				<li>A Basic Pot with Lid (Pot size depends on your family.  The pictured pot is good for 4 people </li>
				<li>A Basic Saute Pan with Lid (Pan size depends on your family.  The pictured orange saute pan is good for 4 people.</li>
				<li>A Collander</li>
				<li>A Large Mixing Bowl</li>
			</ol>
		</td>
		<td style="vertical-align: top;"><h3>Basic Spices (only 7):</h3>
		  <%= image_tag "basic_pantry.jpg", :class => "home-pics2" %>
			<br>These basic spices will give you a great start:
			<ol>
				<li>Salt</li>
				<li>Pepper</li>
				<li>Oregano (and/or leafy spices like Basil, Thyme and Parsley.) </li>
				<li>Curry Powder</li>
				<li>Soya Sauce (or Tamari for gluten-free)</li>
				<li>Balsamic Vinegar (or try other vinegar flavors too.)</li>
				<li>Olive Oil (use 'virgin' for dressings, and 'light' for cooking)</li>
			</ol>
			Optional: Save time by pre-mincing a batch of these common spices. Store them soaked in olive oil to keep them preserved for up to 4 weeks in the fridge:
			<ol>
				<li>Minced garlic</li>
				<li>Minced ginger</li>
				<li>Minced shallots</li>
			</ol>
			<form method="link" action="/discover" align="right">
	 		  <input value="Find a 30 minute Meal! >>>>" type="submit" class="orange-button" />
  		</form>
		</td>
	</tr>
</table>
</div>
<br>


