<li id="li_<%= ingredient.id %>" >
  <%= ingredient.name.capitalize %> <a href='#'><img class="delete-icon" item-id="<%= ingredient.id %>" src="/images/icons/delete_orange_48x48.png" style="width: 10px;" alt="delete"/></a>
</li>
