<% @show_footer = true %>

<table id="settings-table">
	
	<tr>
		<!-- No Show List -->
		<td id="settings-no-show-list" class="gray-background">
		  <h1>Exclude Items</h1>
			<p>This is a list of ingredients you want to routinely exclude from your shopping list, unless you manually add it.  Examples include salt, pepper, oil, rosemary, thyme, etc...</p>
  		<div id="settings-no-show-box">
    		<ul id="settings-exclude-list" class="gray-background">
      		<% @exclude_items.each do |item| %>
      		  <%= render :partial => 'exclude_item', :locals => {:ingredient => item.ingredient } %>
      		<% end %>
    		</ul>
		
    		<div class="add-item-form">
    		  <p>
            <%= autocomplete_field_tag('new_item_name', '', '/settings/autocomplete_ingredient_name', 
            :id => 'settings-exclude-input', :size => 20, :placeholder => 'Exclude ingredient') %>
          	<input id="add_exclude_item" value="Add Item" type="submit" class="gray-button" />
        	</p>
    		</div>
    	</div>
		</td> <!-- No Show List End-->
		
		<td id="settings-edit-recipes" class="gray-background">
		  <h1>Manage My Recipes </h1>
		  <p>Add and manage your own recipes here.  Then create shopping list using your very own recipes.</p>
		  <p><%= button_to("Manage recipes", '/recipes', :method => :get, :class => "gray-button") %></p>
		  <hr>
		  <h1>Manage My Ingredient List</h1>
		  <p>On the shop page, if you added any uncommon items it will show up here in your private list.  Edit this private list and combine duplicate ingredients here.</p>
		  <p><%= button_to("Manage ingredients", '/ingredients', :method => :get, :class => "gray-button") %></p>
	  </td>
	</tr>
</table>

<script type="text/javascript">
   
  // Add exclude ingredient
  $('#add_exclude_item').click(function() {
    $.post("/settings/add_exclude_item", {"item[name]": $("#settings-exclude-input").val(), render: "partial"},
    function(data) {
      $('#settings-exclude-list').append(data);
  		$('#settings-exclude-input').val('');
    });
  });

  // Delete exclude ingredient
  $("#settings-exclude-list").delegate(".delete-icon", "click", function(e) {
    var ingredientId = $(this).attr('ingredient-id');
    $.post("/settings/remove_exclude_item", {"item[ingredient_id]": ingredientId});
		li_item_remove('[ingredient-id="' + ingredientId + '"]', "fast");	
  });

</script>
   