<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'highcharts.js' %>
    <%= javascript_include_tag 'rm-highchart-theme.js' %>
    
<h2>New Cooking Skills</h2>
Coming soon...
<!--
Cooking is art.  Learn the components and you can make any creation in the kitchen, using recipes only as a guide.  Discover all the new dishes you can make as you earn new cooking skill badges here.

<br>
<br>


<table style="vertical-align: top; border: 0px;">
<tr>
	<td>
		<div class="rounded-box-title" style="width: 260px; height: 20px;"> Level 1 </div>
		<div class="rounded-box" style="width: 240px; height: 350px;">
	

			
		</div>
	</td>
	<td>
		<div class="rounded-box-title" style="width: 260px; height: 20px;"> Level 2 </div>
		<div class="rounded-box" style="width: 240px; height: 350px;">
			
		</div>
	</td>
	<td>
		<div class="rounded-box-title" style="width: 260px; height: 20px;"> Level 3 </div>
		<div class="rounded-box" style="width: 240px; height: 350px;">
			Coming Soon...
	
		</div>
	</td>
</table>
-->
