#track-team-points
  %h1 
    = "#{@group.name} Leaderboard"
  %table#track-team-table.gray-background
    %tr
      %th#track-team-first-column Name
      %th Points
    - @group.teams.sort_by{|team| -team.points}.each do |team|
      %tr
        %td
          = team.name
          - if team == @my_team
            %b
              (My Team!)  
        %td= team.points