<table id="plan-recipes">
	<tr>
		<td style="width: 50%">
			<h1>Next Meal Cycle</h1> 
			<div id="recipe-drop-box">Drag a Recipe Over Here!</div>
		  <div id="recipe-cycle-list">
			</div>
			<p><%= button_to("Add Ingredients to Cart", {:action => "add_courses_to_shopping_list"}, :confirm => "Add these ingredients to the shopping cart?", :class => "green-button") %></p>
		</td>
		
		<td style="width: 50%">
			<h1>My Recipe Box</h1> 
      <div id="recipe-box-list" >
        <% @recipes.each do |recipe| %>
          <div class="recipe-box" recipe-id="<%= recipe.id %>">
            <table class="recipe-table">
              <tr class="recipe-tr">
                <td><%= image_tag(recipe.picture.url(:thumbnail), {:class => "recipe-img" }) %></td>
                <td><%= recipe.name %></td>
              </tr>
            </table>
          </div>
        <% end %>
        <p>&nbsp;</p>
      </div>
    </td>

	</tr>
</table>

<script type="text/javascript">

$.ajaxSetup({
  error: function(request, status, error) {
    alert("An AJAX error occurred: " + status + "\nError: " + error + "\n" + 
    $(request.responseText).eq(4).html() + "\n" + 
    $(request.responseText).eq(5).html());
  }
});


jQuery(document).ready(function() {
  $('.recipe-box').draggable({
    appendTo: 'body',
    helper: 'clone',
    cursor: 'crosshair',
    revert: true,
  });
  $("#recipe-drop-box").droppable({
    tolerance: 'pointer',
    drop: function() { alert('dropped'); }
  });
});


</script>