<!-- Showing realmealz usage leaders -->
<h1> Leaderboard </h1>
<table border="1">
	<tr>
		<td>First</td>
		<td>Last</td>
		<td>Points</td>
	</tr>
<% @leaderboard.each do |person| %>
	<tr>
		<td><%= person.first %></td>
		<td><%= person.last %></td>
		<td><%= person.sum_points %></td>
	</tr>
<% end %>
</table>


   