
<h1> Employees Report </h1>
<table border="1">
	<tr>
		<td><h2> Employee</h2></td>
		<td><h2> Date signed up</h2></td>
		<td><h2> Last Logged in</h2></td>
		<td><h2> Cooking Frequency(Before)</h2></td>
		<td><h2> Cooking Frequency(After)</h2></td>
		<td><h2>  VPG (Month 1)</h2></td>
		<td><h2>  VPG (Month 2)</h2></td>
	</tr>
	<tr>
		<td>Angela, S</td>
		<td>1/16/2012  13:35</td>
		<td>2/16/2012  18:38</td>
		<td>5</td>
		<td>10</td>
		<td><br><br><br><br><br>
			<!-- div id="food-balance-future-mini" class="food-balance-future-mini" protein="13" vegetable="12" starch="10"></div --></td>
		
	</tr>
	<tr>
		<td>Beth,D </td>
		<td>1/16/2012  13:35</td>
		<td>2/16/2012  18:38</td>
		<td>5</td>
		<td>10</td>
		<td><br><br><br><br><br>
			<!-- div id="food-balance-future-mini" class="food-balance-future-mini" protein="13" vegetable="12" starch="10"></div --></td>
	</tr>
	<tr>
		<td>Caroline,D </td>
		<td>1/16/2012  13:35</td>
		<td>2/16/2012  18:38</td>
		<td>5</td>
		<td>10</td>
		<td><br><br><br><br><br>
			<!-- div id="food-balance-future-mini" class="food-balance-future-mini" protein="13" vegetable="12" starch="10"></div --></td>
	</tr>
	<tr>
		<td>Jack,D </td>
		<td>1/16/2012  13:35</td>
		<td>2/16/2012  18:38</td>
		<td>5</td>
		<td>10</td>
		<td><br><br><br><br><br>
			<!-- div id="food-balance-future-mini" class="food-balance-future-mini" protein="13" vegetable="12" starch="10"></div --></td>
	</tr>
	<tr>
		<td>Kanil,F </td>
		<td>1/16/2012  13:35</td>
		<td>2/16/2012  18:38</td>
		<td>5</td>
		<td>10</td>
		<td><br><br><br><br><br>
			<!-- div id="food-balance-future-mini" class="food-balance-future-mini" protein="13" vegetable="12" starch="10"></div --></td>
	</tr>
	
	
</table>
<script type="text/javascript">
    var protein = $(".food-balance-now").attr("protein");
  	var vegetable = $(".food-balance-now").attr("vegetable");
  	var starch = $(".food-balance-now").attr("starch");
  	var protein_future = $(".food-balance-future-mini").attr("protein");
  	var vegetable_future = $(".food-balance-future-mini").attr("vegetable");
  	var starch_future = $(".food-balance-future-mini").attr("starch");
		var chart1 = createGraph(protein, vegetable, starch,'food-balance-now', true);
		var chart2 = createGraph(protein_future, vegetable_future, starch_future, 'food-balance-future-mini', false);
	
	// end of function graphOptions
	function update_graph() {
//		alert(changedInput);
		chart2 = createGraph(protein_future.value, vegetable_future.value, starch_future.value, 'food-balance-future-mini', false);
		chart2.redraw();
	};

</script>
   