%meta{:content => @og_title, :property => "og:title"}/
%meta{:content => @og_type, :property => "og:type"}/
%meta{:content => @og_url, :property => "og:url"}/
%meta{:content => @og_image, :property => "og:image"}/
%meta{:content => @og_site_name, :property => "og:site_name"}/
%meta{:content => @og_app_id, :property => "fb:app_id"}/
%meta{:content => @og_description, :property => "og:description"}/
