<div id="footer" class="content-width">
  <div id="footer-padding">

    <div class="footer-links footer-item">  
       <a href="/home/about_us" target="_blank">About Us</a>
       &nbsp;|&nbsp;
       <a href="https://docs.google.com/a/realmealz.com/spreadsheet/viewform?formkey=dHZpbTJqQmxzOGc5S2UtTFkxdmE4NVE6MQ#gid=0" target="_blank">Contact Us</a>
       &nbsp;|&nbsp; 	
       <a href="/home/host" target="_blank">Host the Tastiest Challenge</a>
       &nbsp;|&nbsp;
       <a href="/home/faq" target="_blank">FAQ</a>
       &nbsp;|&nbsp;
       <a href="/home/downloads" target="_blank">Downloads</a>
       &nbsp;|&nbsp;
       <a href="/blog" target="_blank">Blog</a> 
       &nbsp;|&nbsp;
       <a href="/recipes" target="_blank">Recipes</a> &nbsp;

    </div>       

    <div id='footer-facebook' class='footer-like-us footer-item'>
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like href="http://www.facebook.com/permalink.php?story_fbid=2097317244351&amp;id=1587977301#!/pages/RealMealz/201672796524488" send="false" layout="button_count" width="50" show_faces="false" font="verdana">
      </fb:like>
    </div>

    <div class="footer-links footer-item">  
      &nbsp;|&nbsp;
    </div>

    <div id='footer-twitter' class='footer-like-us footer-item'>
      <div>
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="www.realmealz.com" data-text="I made a delicious meal in 30 minutes or less with @RealMealz.  Check it out:  www.realmealz.com" data-count="none" data-related="realmealz">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </div>
    </div>

    <div class="footer-links footer-item">  
      &nbsp;|&nbsp;
    </div>

    <div id='footer-gplus' class='footer-like-us footer-item'>
      <!-- Google + 1 -->
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
       {parsetags: 'explicit'}
      </script>
      <g:plusone size="medium" count="false" href="www.realmealz.com"></g:plusone>
      <!-- Place this render call where appropriate -->
      <script type="text/javascript">gapi.plusone.go();</script>
    </div>

    <div class='footer-links footer-item'>  
      &nbsp;|&nbsp;
      <a href="/home/terms_of_service" target="_blank">Terms of Service</a>
      &nbsp;|&nbsp;
      <a href="/home/privacy_policy" target="_blank">Privacy Policy</a>
    </div>

    <div id='footer-clear'></div>
    
  </div> <!-- footer-padding -->
</div> <!-- footer --> 
    
