<% if controller.action_name == "kitchen" %>
	<div class="tab-selected"> Kitchen </div>
	<% @kitchen_user_names.each do |name| %>
		<div class="tab"> <a href="/customize"><%= name %> </div>
	<% end %>
<% else %>
	<div class="tab"> <a href="/customize/kitchen"> Kitchen </div></a>
	<% @kitchen_user_names.each do |name| %>
		<div class="tab-selected"> <%= name %> </div>
	<% end %>
<% end %>


  