<div id="video-dialog" title="Youtube Video" style="display:none">
  <iframe id='youtube-video' width="560" height="315" src="http://www.youtube.com/embed/LaEz_3od0Aw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<script type="text/javascript">

if ($("#discover-carousel").length > 0) {
  var $delegate = $("#discover-carousel")
} else {
  var $delegate = $("#cook-recipe-dialog")
}
$delegate.delegate('.video-link', 'click', function() {
  var title = $(this).text();
  var link = $(this).attr('href');
  var $dialog = $("#video-dialog");
  $dialog.dialog("destroy");
  $dialog.attr('title', title);
  $dialog.find("iframe").attr("src", link);
  $dialog.dialog({
     width: 600,
     height: 380,
     modal: true,
     close: function(event, ui) { $('#youtube-video').attr('src', '') }
   });
  return false;
});

 </script>
