<div id="welcome">
  <% if current_user %>
    <a href='/users/my_account'>Welcome, <%= "#{current_user.first} #{current_user.last}" %>!<br><font size="-1">
    You have <%= current_user.get_points %> points. </a><u> <%= link_to("Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?") %>.</u></font>
  <% else %>
    &nbsp;
  <% end %>
</div>
